.App {
	text-align: center;
}

.App-logo {
	height: 45vmin;
	width: 100%;
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.App-header h1 {
	font-size: 1.9em;
}

.App-link {
	color: #09d3ac;
}

.img-fluid {
	object-fit: cover;
	height: 60vh !important;
}

@media only screen and (max-width: 600px) {
	.img-fluid {
		height: auto !important;
		object-fit: fill;
	}
}

.nav-link:hover {
	color: slategrey !important;
}
